$color-white: #fff;
$color-black: #000000;
$color-light-gray: #f7f7f7;
$color-dark-gray: #373b3c;
$color-blue: #0f60ac;
$color-light-blue: #49c7e7;
$color-light-brown: #f3f0e9;
$color-red: #ff5749;
$color-orange: #f9791a;
$color-yellow: #ffeb3e;
$color-green: #44d157;
$bace-color: #403d3a;